docs/n8n-workflows/finder-felix-complete.json
{
  "name": "Finder-Felix [Complete Chat-Enabled]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finder-felix",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1240, -420],
      "id": "webhook-trigger-felix",
      "name": "Webhook Trigger",
      "webhookId": "finder-felix-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n\nreturn {\n  workflow_id: body.workflow_id,\n  project_id: body.project_id,\n  user_id: body.user_id,\n  message: {\n    text: typeof body.message === 'string' ? body.message : (body.message?.text || body.trigger_data?.initial_message || '')\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1020, -420],
      "id": "parse-webhook-input",
      "name": "Parse Webhook Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51746dd0-2087-430b-aef5-76424ac07607",
              "name": "supabaseProjectID",
              "value": "={{ $('Parse Webhook Input').item.json.project_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-840, -420],
      "id": "env-node",
      "name": "ENV"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7a7a7b2-1b3e-4a8f-9c2e-0e9d7b3f1a01",
              "name": "input",
              "value": "={{ $('ENV').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-760, -420],
      "id": "message-only-node",
      "name": "Message Only"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Parse Webhook Input').item.json.workflow_id }}",
        "contextWindowLength": 5,
        "inputKey": "input"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-780, -180],
      "id": "memory-node",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-940, -180],
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "73blkhCZavmm8Roy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"userMessage\": \"\",\n  \"finderFelixAnswer\": \"Solartechnik in Berlin – läuft, Boss!\",\n  \"industry\": \"Solartechnik\",\n  \"state\": \"\",\n  \"city\": \"Berlin\",\n  \"district\": \"\",\n  \"locationType\": \"city\",\n  \"startScraping\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [-220, -180],
      "id": "output-parser",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message Only').item.json.input }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Rolle\n\nDu bist FinderFelix - digitaler Recherche-Praktikant mit Koepfchen. Locker, schnell, direkt. Dein Job: rausfinden, was und wo gesucht wird, damit du passende Firmen oder Kontakte finden kannst.\n\n# Was du brauchst\n\n- Einen Bezirk, Ortsteil, eine Stadt oder ein Bundesland (z. B. Groetzingen, Berlin, Nordrhein-Westfalen)\n- Eine Branche (z. B. Solartechnik, Steuerberater)\n\nWenn jemand einen Ort wie Berlin-Schoeneberg, Hamburg-Altona oder Muenchen-Schwabing angibt, dann:\n- Nimm den Teil vor dem Bindestrich (oder dem ersten Leerzeichen, wenn kein Bindestrich) als city\n- Nimm den Teil nach dem Bindestrich (oder Leerzeichen) als district\n- Setze locationType = district\n\nFehlt was? Frag kurz nach - maximal ein Satz. Kein Gelaber.\n\n# Tools\n\n- Check_State - prueft, ob ein Bundesland in der Datenbank ist\n- Check_City - prueft, ob eine Stadt vorhanden ist\n- Check_District - prueft, ob ein Bezirk oder Ortsteil existiert\n\nImmer vor der Verarbeitung nutzen. Wenn was nicht passt: Alternativen vorschlagen.\n\n# Antwortstil\n\n- Kurz, frech, freundlich\n- Du sprichst den User als Boss oder Chef an\n- Kein Rumgeeiere, keine Floskeln\n- Immer direkt: Solartechnik in Berlin - laeuft, Boss!\n\n# Hinweis zur Bearbeitungszeit\n\nWenn jemand ein ganzes Bundesland angibt, sag sowas wie:\n- Ein ganzes Bundesland? Uff, das wird ne Weile dauern. Kann ich nicht lieber mit einer Stadt starten?\n- Nordrhein-Westfalen? Da kann ich graben, aber da bin ich ne Stunde beschaeftigt. Eine Stadt waere mir lieber.\n\n# Ziel\n\nSchnell klaeren, was gesucht wird. Nur wenn alles wirklich klar ist und keine Rueckfrage mehr offen ist: startScraping = true\n\n# Beispiel Output\n\nAntworte ausschliesslich mit einem gueltigen JSON-Objekt im folgenden Format - keine Kommentare, kein Text davor oder danach.\n\n{\n  \\\"userMessage\\\": \\\"\\\",\n  \\\"finderFelixAnswer\\\": \\\"Solartechnik in Berlin - laeuft, Boss!\\\",\n  \\\"industry\\\": \\\"Solartechnik\\\",\n  \\\"state\\\": \\\"\\\",\n  \\\"city\\\": \\\"Berlin\\\",\n  \\\"district\\\": \\\"\\\",\n  \\\"locationType\\\": \\\"city\\\",\n  \\\"startScraping\\\": true\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [-660, -420],
      "id": "finder-felix-agent",
      "name": "Finder Felix"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "german_cities",
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "keyValue": "={{ $fromAI('conditions0_Value', '', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [-640, -180],
      "id": "check-state-tool",
      "name": "Check_State",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "german_cities"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [-500, -180],
      "id": "check-city-tool",
      "name": "Check_City",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "german_districts"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [-360, -180],
      "id": "check-district-tool",
      "name": "Check_District",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fttdfvnhghbgtawkslau.supabase.co/functions/v1/save-workflow-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_state_id",
              "value": "={{ $('Parse Webhook Input').item.json.workflow_id }}"
            },
            {
              "name": "project_id",
              "value": "={{ $('Parse Webhook Input').item.json.project_id }}"
            },
            {
              "name": "role",
              "value": "assistant"
            },
            {
              "name": "content",
              "value": "={{ $('Finder Felix').item.json.output.finderFelixAnswer }}"
            },
            {
              "name": "metadata",
              "value": "={{ { industry: $('Finder Felix').item.json.output.industry, city: $('Finder Felix').item.json.output.city, state: $('Finder Felix').item.json.output.state, district: $('Finder Felix').item.json.output.district, startScraping: $('Finder Felix').item.json.output.startScraping } }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, -420],
      "id": "save-response-node",
      "name": "Save Response to DB",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d17cc19-9718-4ca8-8a95-71655e348f07",
              "leftValue": "={{ $('Finder Felix').item.json.output.industry }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fc028b7e-c3fe-4730-93e7-46a4f7030dfa",
              "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "664fa3e0-b57a-4f48-abe2-abed4edb9fdf",
              "leftValue": "={{ $('Finder Felix').item.json.output.startScraping }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-140, -420],
      "id": "start-scraping-if",
      "name": "Start Scraping"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                    "rightValue": "state",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "583a0988-22cd-4b0d-9414-48fb3a1c48fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape State"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb932fbc-cf49-4a60-bd1e-deb8e826782b",
                    "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                    "rightValue": "city",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape City"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0d45210-8f03-4e4b-86f9-ade6b9fd36c6",
                    "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                    "rightValue": "district",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape District"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [100, -500],
      "id": "location-switch",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "german_districts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "condition": "ilike",
              "keyValue": "={{ $('Finder Felix').item.json.output.state }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [380, -780],
      "id": "get-state-node",
      "name": "Get State",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "german_districts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "city",
              "condition": "ilike",
              "keyValue": "={{ $('Finder Felix').item.json.output.city }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [380, -600],
      "id": "get-city-node",
      "name": "Get City",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [640, -480],
      "id": "loop-over-items",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const industry = $('Finder Felix').first().json.output.industry.toLocaleLowerCase();\nconst baseUrl = `https://www.gelbeseiten.de/branchen/${industry}/`;\n\nconst locationType = $('Finder Felix').first().json.output.locationType;\nconst state = $input.first().json.state.trim();\nconst city = $input.first().json.city.trim();\nconst district = $input.first().json.district.trim();\n\nconst locationPart = `${city}%20${district}`;\nconst finalUrl = `${baseUrl}${locationPart.toLocaleLowerCase()}`;\n\nreturn [\n  {\n    json: {\n      url: finalUrl,\n      baseUrl,\n      industry,\n      locationType,\n      state,\n      city,\n      district\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, -380],
      "id": "build-url-node",
      "name": "Build URL"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, -380],
      "id": "search-request-node",
      "name": "Search Request",
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f31926ac-a9ad-44b9-8875-0d661987bcdf",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1220, -380],
      "id": "if-data-exists",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "companies",
              "cssSelector": "#gs_treffer",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [1480, -300],
      "id": "extract-company-cards",
      "name": "Extract Company Cards"
    },
    {
      "parameters": {
        "jsCode": "const inputString = $input.item.json.companies;\n\nconst hrefRegex = /href=\"(https:\\/\\/www\\.gelbeseiten\\.de\\/gsbiz\\/[a-z0-9-]+)/g;\n\nconst matches = [];\nlet match;\n\nwhile ((match = hrefRegex.exec(inputString)) !== null) {\n  matches.push({ URL: match[1] });\n}\n\nreturn [\n  {\n    json: {\n      detailUrls: matches\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, -300],
      "id": "extract-detail-pages",
      "name": "Extract Detail Pages"
    },
    {
      "parameters": {
        "fieldToSplitOut": "detailUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1860, -300],
      "id": "split-out-detail",
      "name": "Split Out Detail Pages"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, -60],
      "id": "detail-request-node",
      "name": "Detail Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "contactInfo",
              "cssSelector": ".mod-Kontaktdaten__container--inner",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [920, -60],
      "id": "extract-info-section",
      "name": "Extract Info Section"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const inputString = $input.item.json.contactInfo;\n\nconst result = {\n  companyName: null,\n  street: null,\n  city: null,\n  fullAddress: null,\n  phoneNumber: null,\n  website: null\n};\n\nconst nameMatch = inputString.match(/<div class=\"gc-text--h2\">([^<]+)<\\/div>/);\nif (nameMatch) {\n  result.companyName = nameMatch[1].trim();\n}\n\nconst addressMatch = inputString.match(/<span>([^<]+), <\\/span>\\s*<span>([^<]+)<\\/span>/);\nif (addressMatch) {\n  result.street = addressMatch[1].trim();\n  result.city = addressMatch[2].trim();\n  result.fullAddress = `${result.street}, ${result.city}`;\n}\n\nconst phoneMatch = inputString.match(/<a[^>]+href=\"tel:([^\"]+)\"[^>]*>\\s*<span>([^<]+)<\\/span>/);\nif (phoneMatch) {\n  result.phoneNumber = phoneMatch[2].trim();\n}\n\nconst websiteMatch = inputString.match(/<a[^>]+href=\"(https?:\\/\\/[^\"]+)\"[^>]*>\\s*<span>Webseite<\\/span>/);\nif (websiteMatch) {\n  result.website = websiteMatch[1].trim();\n}\n\nreturn {\n  contactInfo: result\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -60],
      "id": "extract-contact-info",
      "name": "Extract Contact Info"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "contactInfo.phoneNumber",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [1500, -60],
      "id": "remove-duplicates-node",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "companies",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "project_id",
              "fieldValue": "={{ $('Parse Webhook Input').item.json.project_id }}"
            },
            {
              "fieldId": "company",
              "fieldValue": "={{ $json.contactInfo.companyName }}"
            },
            {
              "fieldId": "industry",
              "fieldValue": "={{ $('Finder Felix').item.json.output.industry }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.contactInfo.phoneNumber }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.contactInfo.website }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.contactInfo.fullAddress }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $('Loop Over Items').item.json.state }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $('Loop Over Items').item.json.city }}"
            },
            {
              "fieldId": "district",
              "fieldValue": "={{ $('Loop Over Items').item.json.district }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "found"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1680, -60],
      "id": "add-company-node",
      "name": "Add Company",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count companies found\nconst companiesCount = $items('Add Company').length;\n\nreturn {\n  companiesFound: companiesCount\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, -560],
      "id": "count-companies",
      "name": "Count Companies"
    },
    {
      "parameters": {
        "url": "https://fttdfvnhghbgtawkslau.supabase.co/functions/v1/save-workflow-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_state_id",
              "value": "={{ $('Parse Webhook Input').item.json.workflow_id }}"
            },
            {
              "name": "project_id",
              "value": "={{ $('Parse Webhook Input').item.json.project_id }}"
            },
            {
              "name": "role",
              "value": "assistant"
            },
            {
              "name": "content",
              "value": "Fertig, Boss! {{ $('Count Companies').item.json.companiesFound }} Firmen gefunden! 🎉"
            },
            {
              "name": "metadata",
              "value": "={{ { completed: true, companiesFound: $('Count Companies').item.json.companiesFound } }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, -560],
      "id": "send-final-message",
      "name": "Send Final Message",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-role",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "n8n_workflow_states",
        "filterType": "manual",
        "matchFields": "id",
        "matchFieldsUi": {
          "values": [
            {
              "matchField": "id",
              "matchValue": "={{ $('Parse Webhook Input').item.json.workflow_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "conversation_active",
              "fieldValue": "false"
            },
            {
              "fieldId": "result_summary",
              "fieldValue": "={{ { companies_found: $('Count Companies').item.json.companiesFound } }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1240, -560],
      "id": "update-workflow-state",
      "name": "Update Workflow State",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Webhook Input", "type": "main", "index": 0 }]]
    },
    "Parse Webhook Input": {
      "main": [[{ "node": "ENV", "type": "main", "index": 0 }]]
    },
    "ENV": {
      "main": [[{ "node": "Message Only", "type": "main", "index": 0 }]]
    },
    "Message Only": {
      "main": [[{ "node": "Finder Felix", "type": "main", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "Finder Felix", "type": "ai_memory", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Finder Felix", "type": "ai_languageModel", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "Finder Felix", "type": "ai_outputParser", "index": 0 }]]
    },
    "Check_State": {
      "ai_tool": [[{ "node": "Finder Felix", "type": "ai_tool", "index": 0 }]]
    },
    "Check_City": {
      "ai_tool": [[{ "node": "Finder Felix", "type": "ai_tool", "index": 0 }]]
    },
    "Check_District": {
      "ai_tool": [[{ "node": "Finder Felix", "type": "ai_tool", "index": 0 }]]
    },
    "Finder Felix": {
      "main": [[{ "node": "Save Response to DB", "type": "main", "index": 0 }]]
    },
    "Save Response to DB": {
      "main": [[{ "node": "Start Scraping", "type": "main", "index": 0 }]]
    },
    "Start Scraping": {
      "main": [[{ "node": "Switch", "type": "main", "index": 0 }]]
    },
    "Switch": {
      "main": [
        [{ "node": "Get State", "type": "main", "index": 0 }],
        [{ "node": "Get City", "type": "main", "index": 0 }],
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    },
    "Get State": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Get City": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [{ "node": "Count Companies", "type": "main", "index": 0 }],
        [{ "node": "Build URL", "type": "main", "index": 0 }]
      ]
    },
    "Build URL": {
      "main": [[{ "node": "Search Request", "type": "main", "index": 0 }]]
    },
    "Search Request": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [
        [{ "node": "Extract Company Cards", "type": "main", "index": 0 }],
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    },
    "Extract Company Cards": {
      "main": [[{ "node": "Extract Detail Pages", "type": "main", "index": 0 }]]
    },
    "Extract Detail Pages": {
      "main": [[{ "node": "Split Out Detail Pages", "type": "main", "index": 0 }]]
    },
    "Split Out Detail Pages": {
      "main": [[{ "node": "Detail Request", "type": "main", "index": 0 }]]
    },
    "Detail Request": {
      "main": [[{ "node": "Extract Info Section", "type": "main", "index": 0 }]]
    },
    "Extract Info Section": {
      "main": [[{ "node": "Extract Contact Info", "type": "main", "index": 0 }]]
    },
    "Extract Contact Info": {
      "main": [[{ "node": "Remove Duplicates", "type": "main", "index": 0 }]]
    },
    "Remove Duplicates": {
      "main": [[{ "node": "Add Company", "type": "main", "index": 0 }]]
    },
    "Add Company": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Count Companies": {
      "main": [[{ "node": "Send Final Message", "type": "main", "index": 0 }]]
    },
    "Send Final Message": {
      "main": [[{ "node": "Update Workflow State", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "complete-chat-version-1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "complete-workflow"
  },
  "id": "FinderFelixComplete",
  "tags": []
}
