docs/n8n-workflows/pitch-paul-webhook.json
{
  "name": "Pitch-Paul [Webhook]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pitch-paul",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-trigger-paul",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "pitch-paul-webhook",
      "credentials": {
        "headerAuth": {
          "id": "1",
          "name": "Header Auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Parse incoming webhook data\nconst body = $input.item.json.body;\n\nreturn {\n  workflow_id: body.workflow_id,\n  project_id: body.project_id,\n  user_id: body.user_id,\n  user_input: body.trigger_data?.user_input || '',\n  offer: body.trigger_data?.offer || '',\n  target_companies: body.trigger_data?.target_companies || []\n};"
      },
      "id": "parse-webhook-input-paul",
      "name": "Parse Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "offer-text",
              "name": "offer",
              "value": "={{ $json.offer }}",
              "type": "string"
            },
            {
              "id": "project-id",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "sales-goal",
              "name": "sales_goal",
              "value": "={{ $json.user_input }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-pitch-input",
      "name": "Prepare Pitch Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Du bist Pitch-Paul, ein Experte für B2B-Sales und E-Mail-Marketing.\n\nVertriebsziel: {{ $json.sales_goal }}\nAngebot: {{ $json.offer }}\n\nNutze die verfügbaren Tools um passende Firmen zu finden und erstelle personalisierte Sales-E-Mails.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Du bist Paul, ein professioneller Sales-Manager mit Fokus auf personalisierte Kaltakquise."
        }
      },
      "id": "ai-agent-paul",
      "name": "Pitch Paul Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "companies",
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "keyName": "project_id",
              "keyValue": "={{ $json.project_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "analyzed"
            }
          ]
        }
      },
      "id": "get-analyzed-companies",
      "name": "Get Analyzed Companies",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "supabaseApi": {
          "id": "2",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Split companies for email generation\nconst companies = $input.all();\nreturn companies.map(item => ({\n  json: {\n    company_id: item.json.id,\n    company_name: item.json.company,\n    email: item.json.email,\n    ceo_name: item.json.ceo_name,\n    analysis: item.json.analysis,\n    project_id: $('Prepare Pitch Input').item.json.project_id,\n    offer: $('Prepare Pitch Input').item.json.offer\n  }\n}));"
      },
      "id": "split-companies",
      "name": "Split Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "=Du bist ein professioneller Sales-Texter. Schreibe eine personalisierte Cold-Email für:\n\nFirma: {{ $json.company_name }}\nAnsprechpartner: {{ $json.ceo_name || 'Sehr geehrte Damen und Herren' }}\n\nAngebot: {{ $json.offer }}\n\nAnalyse der Firma: {{ $json.analysis }}\n\nDie E-Mail soll:\n- Professionell und höflich sein\n- Auf die Firma zugeschnitten sein\n- Das Angebot klar kommunizieren\n- Eine klare Call-to-Action enthalten\n- Im HTML-Format sein\n\nGib nur den HTML-Body zurück, ohne Subject."
            }
          ]
        }
      },
      "id": "generate-email-content",
      "name": "Generate Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1560, 300],
      "credentials": {
        "openAiApi": {
          "id": "3",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Extract subject and body from AI response\nconst aiResponse = $input.item.json.output;\nconst companyData = $input.item.json;\n\n// Simple subject generation\nconst subject = `Interessantes Angebot für ${companyData.company_name}`;\n\nreturn {\n  company_id: companyData.company_id,\n  project_id: companyData.project_id,\n  recipient_email: companyData.email,\n  subject: subject,\n  body: aiResponse,\n  status: 'draft'\n};"
      },
      "id": "prepare-email-record",
      "name": "Prepare Email Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "project_emails",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "project_id",
              "fieldValue": "={{ $json.project_id }}"
            },
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $json.company_id }}"
            },
            {
              "fieldId": "recipient_email",
              "fieldValue": "={{ $json.recipient_email }}"
            },
            {
              "fieldId": "subject",
              "fieldValue": "={{ $json.subject }}"
            },
            {
              "fieldId": "body",
              "fieldValue": "={{ $json.body }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "draft"
            }
          ]
        }
      },
      "id": "save-email-draft",
      "name": "Save Email Draft",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": {
        "supabaseApi": {
          "id": "2",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "n8n_workflow_states",
        "filterType": "manual",
        "matchBy": "id",
        "matchValue": "={{ $('Parse Webhook Input').item.json.workflow_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "result_summary",
              "fieldValue": "={{ { emails_created: $items('Save Email Draft').length } }}"
            }
          ]
        }
      },
      "id": "update-workflow-state-paul",
      "name": "Update Workflow State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2220, 300],
      "credentials": {
        "supabaseApi": {
          "id": "2",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Input": {
      "main": [
        [
          {
            "node": "Prepare Pitch Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pitch Input": {
      "main": [
        [
          {
            "node": "Pitch Paul Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pitch Paul Agent": {
      "main": [
        [
          {
            "node": "Get Analyzed Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analyzed Companies": {
      "main": [
        [
          {
            "node": "Split Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Companies": {
      "main": [
        [
          {
            "node": "Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email": {
      "main": [
        [
          {
            "node": "Prepare Email Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Record": {
      "main": [
        [
          {
            "node": "Save Email Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email Draft": {
      "main": [
        [
          {
            "node": "Update Workflow State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-26T12:00:00.000Z",
  "versionId": "1"
}
