docs/n8n-workflows/sende-susan.json
{
  "name": "Sende Susan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sende-susan",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        0
      ],
      "id": "webhook-susan",
      "name": "Webhook Trigger",
      "webhookId": "sende-susan-webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CE0Gh6v865OGseDN",
          "name": "Lovable Header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nreturn {\n  project_id: body.project_id,\n  email_id: body.email_id,\n  send_all: body.send_all ?? !body.email_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1000,
        0
      ],
      "id": "parse-susan",
      "name": "Parse Webhook Input"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "project_emails",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "={{ $json.email_id ? 'id' : 'project_id' }}",
              "keyValue": "={{ $json.email_id ? $json.email_id : $json.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        0
      ],
      "id": "get-emails",
      "name": "Get Emails",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Supabase Kundenaquise"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data"
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -600,
        0
      ],
      "id": "split-emails",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        0
      ],
      "id": "loop-emails",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -200,
        0
      ],
      "id": "gmail-susan",
      "name": "Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "iKiwpf6soSUP1H8i",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "project_emails",
        "filterType": "manual",
        "matchFields": "id",
        "matchFieldsUi": {
          "values": [
            {
              "matchField": "id",
              "matchValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "mark-sent",
      "name": "Mark as Sent",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Supabase Kundenaquise"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Input": {
      "main": [
        [
          {
            "node": "Get Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Sent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}