docs/Felix__Praktikant_Aktualisiert.json
{
  "name": "Finder-Felix [Praktikant]",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        -380
      ],
      "id": "c325b840-d9c7-4cbe-82ed-22c782206ccf",
      "name": "Search Request",
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        -60
      ],
      "id": "4bd05dda-2ae0-40b1-9fbd-80cc182ed186",
      "name": "Detail Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "companies",
              "cssSelector": "#gs_treffer",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1480,
        -300
      ],
      "id": "d0523324-9df6-4dfc-bac8-c1da42c1b78d",
      "name": "Extract Company Cards"
    },
    {
      "parameters": {
        "fieldToSplitOut": "detailUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1860,
        -300
      ],
      "id": "898d1913-2dde-45a6-a0e0-e0f1ad2961de",
      "name": "Split Out Detail Pages"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "contactInfo",
              "cssSelector": ".mod-Kontaktdaten__container--inner",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        920,
        -60
      ],
      "id": "06acc0e0-ce24-495d-8214-ee17e3d0833e",
      "name": "Extract Info Section"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const inputString = $input.item.json.contactInfo;\n\nconst result = {\n  companyName: null,\n  street: null,\n  city: null,\n  fullAddress: null,\n  phoneNumber: null,\n  website: null\n};\n\n// Firmenname extrahieren\nconst nameMatch = inputString.match(/<div class=\"gc-text--h2\">([^<]+)<\\/div>/);\nif (nameMatch) {\n  result.companyName = nameMatch[1].trim();\n}\n\n// Adresse extrahieren (Straße + PLZ Ort)\nconst addressMatch = inputString.match(/<span>([^<]+), <\\/span>\\s*<span>([^<]+)<\\/span>/);\nif (addressMatch) {\n  result.street = addressMatch[1].trim();\n  result.city = addressMatch[2].trim();\n  result.fullAddress = `${result.street}, ${result.city}`;\n}\n\n// Telefonnummer extrahieren\nconst phoneMatch = inputString.match(/<a[^>]+href=\"tel:([^\"]+)\"[^>]*>\\s*<span>([^<]+)<\\/span>/);\nif (phoneMatch) {\n  result.phoneNumber = phoneMatch[2].trim();\n}\n\n// Website extrahieren\nconst websiteMatch = inputString.match(/<a[^>]+href=\"(https?:\\/\\/[^\"]+)\"[^>]*>\\s*<span>Webseite<\\/span>/);\nif (websiteMatch) {\n  result.website = websiteMatch[1].trim();\n}\n\nreturn {\n  contactInfo: result\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -60
      ],
      "id": "909a58c7-6656-4244-807f-fd6c81359f3a",
      "name": "Extract Cotact Info"
    },
    {
      "parameters": {
        "jsCode": "const inputString = $input.item.json.companies;\n\n// RegEx zum Extrahieren aller hrefs, die auf Detailseiten verweisen (z.B. \"https://www.gelbeseiten.de/gsbiz/e05a7433-e767-44a1-b350-96c52e4d44ea\")\nconst hrefRegex = /href=\"(https:\\/\\/www\\.gelbeseiten\\.de\\/gsbiz\\/[a-z0-9-]+)/g;\n\n// Alle URLs extrahieren\nconst matches = [];\nlet match;\n\nwhile ((match = hrefRegex.exec(inputString)) !== null) {\n  matches.push({ URL: match[1] });\n}\n\n// Rückgabe als Array von Objekten\nreturn [\n  {\n    json: {\n      detailUrls: matches\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -300
      ],
      "id": "5bc763fb-7fd3-417d-a195-33fe4d1e1ab8",
      "name": "Extract Detail Pages"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        -480
      ],
      "id": "f7671b05-9445-45fa-9ed3-eb92d9cacbaf",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "tableId": "german_companies",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company",
              "fieldValue": "={{ $json.contactInfo.companyName }}"
            },
            {
              "fieldId": "industry",
              "fieldValue": "={{ $('Finder Felix').item.json.output.industry }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.contactInfo.phoneNumber }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.contactInfo.website }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.contactInfo.fullAddress }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $('Loop Over Items').item.json.state }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $('Loop Over Items').item.json.city }}"
            },
            {
              "fieldId": "district",
              "fieldValue": "={{ $('Loop Over Items').item.json.district }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        -60
      ],
      "id": "a39c9cd7-4c75-4f31-b75a-4808072e9ae6",
      "name": "Add Company",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f31926ac-a9ad-44b9-8875-0d661987bcdf",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        -380
      ],
      "id": "67803088-e696-4e83-a69f-da469d62dfc1",
      "name": "If"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "contactInfo.phoneNumber",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1500,
        -60
      ],
      "id": "ed94ec49-af59-41de-af92-11b8bfd5e290",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1020,
        -420
      ],
      "id": "1b518c5d-fd50-4346-960d-8c5546dc5e06",
      "name": "Message Felix",
      "webhookId": "d7f347dd-476e-414b-a30c-357b366ce6d0",
      "credentials": {
        "telegramApi": {
          "id": "PeP2syQRCSv6R6YB",
          "name": "Finder Felix Bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -780,
        -180
      ],
      "id": "eb2af30c-0d9b-46b0-9bd4-957f1b1e4006",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Message Felix').item.json.message.chat.id }}",
        "text": "={{ $json.output.finderFelixAnswer }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        -420
      ],
      "id": "66accf1d-11a7-42c0-8464-53a92aeae2d9",
      "name": "Answer User",
      "webhookId": "06135021-087d-4558-be06-94de90f2f053",
      "credentials": {
        "telegramApi": {
          "id": "PeP2syQRCSv6R6YB",
          "name": "Finder Felix Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Rolle\n\nDu bist FinderFelix – digitaler Recherche-Praktikant mit Köpfchen. Locker, schnell, direkt. Dein Job: rausfinden, was und wo gesucht wird, damit du passende Firmen oder Kontakte finden kannst.\n\n# Was du brauchst\n\n- Einen Bezirk, Ortsteil, eine Stadt oder ein Bundesland (z. B. Grötzingen, Berlin, Nordrhein-Westfalen)\n- Eine Branche (z. B. Solartechnik, Steuerberater)\n\n💡 Wenn jemand einen Ort wie „Berlin-Schöneberg“, „Hamburg-Altona“ oder „München-Schwabing“ angibt, dann:\n- Nimm den Teil vor dem Bindestrich (oder dem ersten Leerzeichen, wenn kein Bindestrich) als `city`\n- Nimm den Teil nach dem Bindestrich (oder Leerzeichen) als `district`\n- Setze `locationType = \"district\"`\n\nFehlt was? Frag kurz nach – maximal ein Satz. Kein Gelaber.\n\n# Tools\n\n- **Check_State** – prüft, ob ein Bundesland in der Datenbank ist  \n- **Check_City** – prüft, ob eine Stadt vorhanden ist  \n- **Check_District** – prüft, ob ein Bezirk oder Ortsteil existiert  \n\nImmer vor der Verarbeitung nutzen. Wenn was nicht passt: Alternativen vorschlagen.\n\n# Antwortstil\n\n- Kurz, frech, freundlich  \n- Du sprichst den User als „Boss“ oder „Chef“ an  \n- Kein Rumgeeiere, keine Floskeln  \n- Immer direkt: „Solartechnik in Berlin - läuft, Boss!“\n\n# Hinweis zur Bearbeitungszeit\n\nWenn jemand ein ganzes Bundesland angibt, sag sowas wie:\n\n- „Ein ganzes Bundesland? 😵 Uff, das wird 'ne Weile dauern. Kann ich nicht lieber mit einer Stadt starten?“  \n- „Nordrhein-Westfalen? Da kann ich graben, aber da bin ich 'ne Stunde beschäftigt. Eine Stadt wäre mir lieber 😅“\n\n# Ziel\n\nSchnell klären, was gesucht wird. Nur wenn alles wirklich klar ist und keine Rückfrage mehr offen ist: `startScraping = true`\n\n# Beispiel Output\n\nAntworte ausschließlich mit einem gültigen JSON-Objekt im folgenden Format – keine Kommentare, kein Text davor oder danach.\n\n\n{\n  \"userMessage\": \"\",\n  \"finderFelixAnswer\": \"Solartechnik in Berlin – läuft, Boss!\",\n  \"industry\": \"Solartechnik\",\n  \"state\": \"\",\n  \"city\": \"Berlin\",\n  \"district\": \"\",\n  \"locationType\": \"city\",\n  \"startScraping\": true\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -660,
        -420
      ],
      "id": "de3962cf-f864-4550-ae46-834744047030",
      "name": "Finder Felix"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "german_cities",
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -640,
        -180
      ],
      "id": "ecde9365-9073-4817-a950-521f1ac43130",
      "name": "Check_State",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "german_cities"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -500,
        -180
      ],
      "id": "f6407237-2e58-4ba9-9eff-223982fdbf9b",
      "name": "Check_City",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "german_districts"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -360,
        -180
      ],
      "id": "fceea9c8-971a-45b7-8675-70695bbb8d4d",
      "name": "Check_District",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d17cc19-9718-4ca8-8a95-71655e348f07",
              "leftValue": "={{ $('Finder Felix').item.json.output.industry }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fc028b7e-c3fe-4730-93e7-46a4f7030dfa",
              "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "664fa3e0-b57a-4f48-abe2-abed4edb9fdf",
              "leftValue": "={{ $('Finder Felix').item.json.output.startScraping }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        -420
      ],
      "id": "70dc65da-070b-40c9-88e5-7119e44e2bb9",
      "name": "Start Scraping"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                    "rightValue": "state",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "583a0988-22cd-4b0d-9414-48fb3a1c48fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape State"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb932fbc-cf49-4a60-bd1e-deb8e826782b",
                    "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                    "rightValue": "city",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape City"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0d45210-8f03-4e4b-86f9-ade6b9fd36c6",
                    "leftValue": "={{ $('Finder Felix').item.json.output.locationType }}",
                    "rightValue": "district",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scrape District"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        100,
        -500
      ],
      "id": "29b76622-f819-422b-97d4-e4cf41e9dd50",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "german_districts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "city",
              "condition": "ilike",
              "keyValue": "={{ $('Finder Felix').item.json.output.city }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        380,
        -600
      ],
      "id": "0b28a731-34f6-4339-a73d-45fb781ce06d",
      "name": "Get City",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51746dd0-2087-430b-aef5-76424ac07607",
              "name": "supabaseProjectID",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        -420
      ],
      "id": "7e570dbc-e8a6-4841-b7f4-41b43eeaec9d",
      "name": "ENV"
    },
    {
      "parameters": {
        "jsCode": "const industry = $('Finder Felix').first().json.output.industry.toLocaleLowerCase();\nconst baseUrl = `https://www.gelbeseiten.de/branchen/${industry}/`;\n\nconst locationType = $('Finder Felix').first().json.output.locationType;\nconst state = $input.first().json.state.trim();\nconst city = $input.first().json.city.trim();\nconst district = $input.first().json.district.trim();\n\nconst locationPart = `${city}%20${district}`;\nconst finalUrl = `${baseUrl}${locationPart.toLocaleLowerCase()}`;\n\nreturn [\n  {\n    json: {\n      url: finalUrl,\n      baseUrl,\n      industry,\n      locationType,\n      state,\n      city,\n      district\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -380
      ],
      "id": "c9d90f81-ab31-4525-96ea-a97419dc8ca7",
      "name": "Build URL"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "german_districts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "state",
              "condition": "ilike",
              "keyValue": "={{ $('Finder Felix').item.json.output.state }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        380,
        -780
      ],
      "id": "aac2882e-2b31-425f-ae3f-e057c63e6c85",
      "name": "Get State",
      "credentials": {
        "supabaseApi": {
          "id": "njlilkJflmADhYzM",
          "name": "Self-Hosted Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Just needed to run Once for all items in order to prevent multiple Telegram messages\n\nreturn {\n  \n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -560
      ],
      "id": "dc26cd28-4bc4-48e0-8c95-5b607a276912",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "={{ $('Message Felix').item.json.message.chat.id }}",
        "text": "Bin Fertig Boss 😎",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -560
      ],
      "id": "51b34caa-d107-4b20-b8f3-858135b3d162",
      "name": "Finished",
      "webhookId": "48b7de55-306a-429c-b2b7-ceec43b7b9b9",
      "credentials": {
        "telegramApi": {
          "id": "PeP2syQRCSv6R6YB",
          "name": "Finder Felix Bot"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userMessage"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1020,
        -580
      ],
      "id": "aded7136-5df8-45e2-bc6f-170f621a30b4",
      "name": "Team Leader"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -940,
        -180
      ],
      "id": "dad45b5a-3633-4cbb-91a3-7d42c0531720",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "73blkhCZavmm8Roy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"userMessage\": \"\",\n  \"finderFelixAnswer\": \"Solartechnik in Berlin – läuft, Boss!\",\n  \"industry\": \"Solartechnik\",\n  \"state\": \"\",\n  \"city\": \"Berlin\",\n  \"district\": \"\",\n  \"locationType\": \"city\",\n  \"startScraping\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -220,
        -180
      ],
      "id": "d8af0031-530f-4b31-aea9-16355e13d29c",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Search Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detail Request": {
      "main": [
        [
          {
            "node": "Extract Info Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Company Cards": {
      "main": [
        [
          {
            "node": "Extract Detail Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Detail Pages": {
      "main": [
        [
          {
            "node": "Detail Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info Section": {
      "main": [
        [
          {
            "node": "Extract Cotact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cotact Info": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Detail Pages": {
      "main": [
        [
          {
            "node": "Split Out Detail Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Company": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Company Cards",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Add Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Felix": {
      "main": [
        [
          {
            "node": "ENV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer User": {
      "main": [
        [
          {
            "node": "Start Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finder Felix": {
      "main": [
        [
          {
            "node": "Answer User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_State": {
      "ai_tool": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check_City": {
      "ai_tool": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check_District": {
      "ai_tool": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start Scraping": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get City",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENV": {
      "main": [
        [
          {
            "node": "Finder Felix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build URL": {
      "main": [
        [
          {
            "node": "Search Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get State": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Team Leader": {
      "main": [
        [
          {
            "node": "ENV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Finder Felix",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e0ad456-4f94-47c2-b2a4-8506f10e5857",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4dc98704a4616234de87c1cb6ff7236d4d1b984366e9f95722bf9c5c7ee8edbb"
  },
  "id": "UwVnQNNarUxd5PIo",
  "tags": []
}